{% extends 'base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-2">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
      <h4 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;"> Cambio de contraseña </h4>
  </div>
</div>
<!-- Page Header End -->

<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="contenedor">
    <p>Ingresa tu dirección de correo electrónico para recibir instrucciones de recuperación.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Enviar instrucciones</button>
    </form>
  </div>
</main>
{% endblock %}