{% extends 'base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-2">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
      <h4 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;"> Cambio de contraseña </h4>
  </div>
</div>
<!-- Page Header End -->

<style>.errorlist{color:red;}</style>
<main role="main">
  <div class="contenedor">
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
      </form>
    {% else %}
      <p class="error">El enlace de recuperación es inválido o ha expirado.</p>
      <p>Por favor, solicita un nuevo <a href="{% url 'password_reset' %}" style="color: red;"> enlace de recuperación</a>.</p>
    {% endif %}
  </div>
</main>
{% endblock %}