{% extends 'base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña enviado{% endblock %}
{% block content %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-2">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
      <h4 class="text-primary font-weight-semi-bold mb-3" style="font-family: sans-serif;"> Cambio de contraseña </h4>
  </div>
</div>
<!-- Page Header End -->

<main role="main">
  <div class="contenedor">
    <p>Hemos enviado un correo con las instrucciones para restablecer tu contraseña.</p>
    <p>Si no lo recibes en unos minutos, revisa tu carpeta de spam.</p>
  </div>
</main>
{% endblock %}